/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family:"Open Sans Extrabold";src:url("fonts/OpenSans-ExtraBold.eot?")
format("eot"),url("fonts/OpenSans-ExtraBold.woff")
format("woff"),url("fonts/OpenSans-ExtraBold.ttf")
format("truetype"),url("fonts/OpenSans-ExtraBold.svg#OpenSans-Extrabold")
format("svg");font-weight:normal;font-style:normal;
}

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family:"Open Sans";src:url("fonts/OpenSans-Regular.eot?")
format("eot"),url("fonts/OpenSans-Regular.woff")
format("woff"),url("fonts/OpenSans-Regular.ttf")
format("truetype"),url("fonts/OpenSans-Regular.svg#OpenSans")
format("svg");font-weight:normal;font-style:normal;
}

body, html{
    width: 100%;
    height: 100%;
}
.table-head{
    background-color: #707070;
    color: #ffffff;
}

.table-line{
    width: calc(100% - 5px);
    height: 20px;
    padding: 5px;
}

.table-line-b{
    background-color: #ffffff;
}
.table-line-c{
    background-color: #eaeaea;
}

.line-post{
    width: 70px; display: block; float: left;
}

.line-idpost{
    border-left: 1px solid #fff; padding-left: 5px; width: 350px; display: block; float: left
}

.line-status{
    border-left: 1px solid #fff; padding-left: 5px; width: 100px; display: block; float: left;
}

.table{
    width: 570px;
    display: none;
    margin-top: 10px;
}

.site-head{
    padding: 10px;
    background-color:  #e4252b;
    height: 30px;
    width: 100%;
    text-align: center;
    color: #ae1f24;
    text-shadow: 1px 1px #440f12, -1px -1px #ff4c4d;
    font-size: 30px;
    font-family: "Open Sans Extrabold";
}

#photo-channel{
    box-shadow: rgba(0,0,0,0.3) 3px 3px 1px;
    background-color: #fdfdff;
    height: 200px;
    width: 200px;
    position: fixed;
    top: 20px;
    left: 20px;
    background-image: url(perfil_canal.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

#cont-graph{
    padding-top: 10px;
    border-bottom: 1px solid #fff2fe;
    height: 520px;
    width: 100%;
}

#bt-novo-post{
    background-color: #e4252b;
    display: block;
    height:20px;
    width: 90px;
    text-align: center;
    color:#fff;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 7px;
    font-family: "Open Sans";
    padding:5px;
}

.bt-page{
    display: block;
    height:10px;
    width: 90px;
    text-align: center;
    color:#fff;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 7px;
    font-family: "Open Sans";
    padding:5px;
    font-size: 10px;
    float: left;
    margin-left: 10px;
}
.bt-page:hover{
    cursor: pointer;
}
#bt-remove-page{
    background-color: #e4252b;
}

#bt-save-page{
    background-color: #aee448;
}

#bt-cadastre-page{
    background-color: #6391e4;
    display: none;
}

#cont-options{
    padding: 10px;
}
#bt-novo-post:hover{
    cursor: pointer;
}

#bt-send-post{

    background-color: #e4252b;
    color:#fff;

}

.bt-01{
    float: left;
    display: block;
    height:17px;
    width: 80px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 7px;
    font-family: "Open Sans";
    font-size: 15px;
    padding: 2px;
    margin-left: 5px;
}

.bt-01:hover{
    cursor: pointer;
}

#bt-cancel-post{
    background-color: #d3cfcd;
    color:#fff;
}

#box-post{
    display: none;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    width: 500px;
    min-height: 230px;
    background-color: #ffffff;
    padding: 10px;
    position: fixed;
    top: calc(50% - 115px);
    left: calc(50% - 250px);
    z-index: 99999;
    font-family: "Open Sans";
    box-shadow: rgba(0,0,0,0.3) 3px 3px 1px;
}

#box-post input{
    border: none;
    background-color: transparent;
}

#box-post input:focus{
    outline: none;
}


#box-post textarea{
    border: none;
    background-color: transparent;
    width: 240px;
    height: 200px;
    resize: none;
}

#box-post textarea:focus{
    outline: none;
}

.c-inp{
    border: 1px solid #707070;
    border-radius: 5px;
    width: 220px;
    padding: 2px;
    display: block;
}

.c-inp2{
    border: 1px solid #707070;
    border-radius: 5px;
    width: 100%;
    padding: 2px;
    display: block;
}

.c-textarea{
    border: 1px solid #707070;
    border-radius: 5px;
    width: 230px;
    height: 120px;
    padding: 2px;
    display: block;
}


#display-block{

   background-image: url('screenblock.png');
   height: 100%;
   width: 100%;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 9999;
    display: none;
}

.lable-box{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    display: block;
}

.menu{
    font-size: 20px;
    font-family: "Open Sans";
    margin-bottom: 10px;
    padding: 5px;
}

.menu span{
    border-bottom: 5px solid #fff;
    margin-left: 10px;
}

.menu span:hover{
    cursor: pointer;
    border-bottom-color: #ae1f24;
}

.menu span:active{
    cursor: pointer;
    border-bottom-color: #ae1f24;
}


.cont-painel{
    float: left;
    width: 900px;
    height: 400px;
    font-size: 10px;
    font-family: "Open Sans";
}

#gerencia_paginas{
    display: none;
}

#cont-list_paginas{
    overflow: hidden;
    height: 380px;
    width: 300px;
    background-color: #fcfcfc;
    margin-bottom: 10px;

}
#list_paginas{
    width: 100%;
    height: calc(100% - 20px);
    margin-top: 10px;
    position: relative;
    top:0px;
}

#list_paginas .iten{
    width: calc(100% - 10px);
    display: block;
    height: 40px;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
}

#list_paginas .iten:hover{
    cursor: pointer;
    background-color: #ece8e6;
}

#list_paginas .iten img{
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
}

#bt-new-page{
    background-color: #ea363d;
    color: #fff;
    width: 300px;
    display: block;
    height: 40px;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
}
#bt-new-page img{
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
}

#bt-new-page:hover{
    background-color: #c3252b !important;
    cursor: pointer;
}

#bt-more-page{
    font-size: 15px;
    float: left;
    background-color: #ae1f24;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    background-image: url("bt-more.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
#bt-more-page:hover{
    cursor: pointer;
}

#bt-less-page{
    font-size: 15px;
    float: left;
    background-color: #ae1f24;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    background-image: url("bt-less.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    margin-left: 10px;
}
#bt-less-page:hover{
    cursor: pointer;
}


#cont-edit-paginas{
    width: 400px;
    height: 100%;
    float: left;
    font-size: 20px;
}

#cont-edit-paginas span{
    font-size: 13px; margin-bottom: 10px;
}

.inp-default{
    border: none;
    background-color: transparent;
    width: calc(100% - 70px);
}

.inp-default:focus{
    outline: none;
}

.cont-lable{
    margin-top: 10px;
}

.cont-lable .label{
    width: 100%;
    display: block;
    font-size: 15px;
}

#nome-post{
    width: 200px;
}

.cont-inp{
    width: 50%; float: left;  height: 100%;
}
